@define-color modules_background #000000;

@define-color workspaces_button_off #928374;
@define-color workspaces_button_on #ffffff;

@define-color clock_idle #ffffff;

@define-color network_idle #888888;

@define-color tray_menu #000000;
@define-color tray_menu_border #ffffff;
@define-color tray_menu_item #ffffff;
@define-color tray_menu_item_hover #ffffff;
@define-color tray_menu_item_hover_background #2d2e2f;

@define-color tooltip_background #000000;
@define-color tooltip_text #ffffff;

/*----------------*/
/*-----GLOBAL-----*/
/*----------------*/

* {
  font-family: "Hack Nerd Font";
  font-weight: 600;
  font-size: 16px;
}

#waybar {
  background-color: @modules_background;
}

/*--------------------*/
/*-----WORKSPACES-----*/
/*--------------------*/

#workspaces {
	margin-left: 2px;
	margin-right: 16px;
}
 
#workspaces button {
  color: @workspaces_button_off;
  background: alpha(@workspaces_button_off, 0.5);
  border-radius: 0px;
 
  min-width: 20px;
  min-height: 6px;
  margin: 0px 0px;
  padding: 0px 0px;
 
  border: none;
  box-shadow: none;
  text-shadow: none;
 
  transition: all 0.3s ease;
}
 
#workspaces button.active {
  color: @modules_background;
  background-color: @workspaces_button_on;
  border-radius: 0px;
 
  min-width: 20px;
  padding: 0px 0px;
 
  transition: all 0.3s ease;
}
 
#workspaces button:hover {
  color: transparent;
  background-color: alpha(@workspaces_button_on, 0.5);
  border-radius: 0px;
 
  box-shadow: none;
  text-shadow: none;
  border-color: @workspaces_button_on;
 
  transition: all 0.3s ease;
}

#tray menu {
  background-color: @tray_menu;
  border: 2px solid @tray_menu_border;
}

#tray menu menuitem {
  color: @tray_menu_item;
}

#tray menu menuitem:hover {
  color: @tray_menu_item_hover;
  background-color: @tray_menu_item_hover_background;
}

/*---------------*/
/*-----CLOCK-----*/
/*---------------*/

#clock {
  color: @clock_idle;

  margin-right: 12px;

  transition: all 0.3s ease;
}

/*-----------------*/
/*-----NETWORK-----*/
/*-----------------*/

#network, #pulseaudio, #battery, #bluetooth, #cpu, #memory, #temperature, #custom-appname, #custom-sep, #custom-spotify, #custom-cava {
  color: @network_idle;
  padding: 2px;
  transition: all 0.3s ease;
}

/*-----------------*/
/*-----TOOLTIP-----*/
/*-----------------*/

tooltip {
  background-color: @tooltip_background;
}

tooltip label {
  color: @tooltip_text;
}
