@define-color bg #000000;

@define-color fg #e0d0d1;

@define-color tm          #000000;
@define-color tm_border   #e0d0d1;
@define-color tm_item     #e0d0d1;
@define-color tm_hover    #e0d0d1;
@define-color tm_hover_bg #2d2e2f;

/*----------------*/
/*-----GLOBAL-----*/
/*----------------*/

* {
  font-family: "Hack Nerd Font";
  font-weight: 600;
  font-size: 14px;
}

#waybar {
  background-color: @bg
}

/*--------------------*/
/*-----WORKSPACES-----*/
/*--------------------*/

#workspaces {
	margin-left: 0px;
	margin-right: 16px;
}
 
#workspaces button {
  all: initial;
  transition: all 90ms ease-in-out;  
  padding: 0 6px;
  margin-left:  0px;
  min-width: 2px;
}

#workspaces button.active {
  border-top: 1px solid @fg;
  margin-bottom: 2px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray menu {
  background-color: @tm;
  border: 2px solid @tm_border;
  border-radius: 0px;
}

#tray menu menuitem {
  color: @tm_item;
}

#tray menu menuitem:hover {
  color: @tm_hover;
  background-color: @tm_hover_bg;
}

#network, #pulseaudio, #bluetooth, #cpu, #memory, #clock, #power-profiles-daemon {
  color: @fg;
  padding: 2px;
  transition: all 0.3s ease;
}
