/*@define-color modules_background #000000;*/ /*theme:lain*/
/*@define-color modules_background #3d3834;*/ /*theme:gruvbox*/
@define-color modules_background #10293f; /*theme:cats*/

@define-color workspaces_button_off #928374;
/*@define-color workspaces_button_on #ffffff;*/ /*theme:lain*/
/*@define-color workspaces_button_on #ebdbb2;*/ /*theme:gruvbox*/
@define-color workspaces_button_on #e18e6e; /*theme:cats*/

@define-color tray_menu #1D2021;
@define-color tray_menu_border #3c3836;
@define-color tray_menu_item #ebdbb2;
@define-color tray_menu_item_hover #ebdbb2;
@define-color tray_menu_item_hover_background #504945;

/*@define-color clock_idle #ffffff;*/ /*theme:lain*/
/*@define-color clock_idle #ebdbb2;*/ /*theme:gruvbox*/
@define-color clock_idle #bc7186; /*theme:cats*/

/*@define-color network_idle #409343;*/ /*theme:lain*/
/*@define-color network_idle #458488;*/ /*theme:gruvbox*/
@define-color network_idle #82e0a4; /*theme:cats*/

@define-color tooltip_background #282828;
@define-color tooltip_text #ebdbb2;

/*----------------*/
/*-----GLOBAL-----*/
/*----------------*/

* {
  font-family: "Hack Nerd Font";
  font-weight: 600;
  font-size: 16px;
}

#waybar {
  background-color: @modules_background;
}

/*--------------------*/
/*-----WORKSPACES-----*/
/*--------------------*/

#workspaces {
  margin-left: 6px;
  margin-right: 16px;
}
 
#workspaces button {
  color: transparent;
  background: alpha(@workspaces_button_off, 0.5);
  border-radius: 999px;
 
  min-width: 24px;
  min-height: 6px;
  margin: 3px 3px;
  padding: 0px 0px;
 
  border: none;
  box-shadow: none;
  text-shadow: none;
 
  transition: all 0.3s ease;
}
 
#workspaces button.active {
  color: transparent;
  background-color: @workspaces_button_on;
  border-radius: 999px;
 
  min-width: 32px;
  padding: 0px 8px;
 
  transition: all 0.3s ease;
}
 
#workspaces button:hover {
  color: transparent;
  background-color: alpha(@workspaces_button_on, 0.5);
  border-radius: 999px;
 
  box-shadow: none;
  text-shadow: none;
  border-color: transparent;
 
  transition: all 0.3s ease;
}

#tray menu {
  background-color: @tray_menu;
  border: 2px solid @tray_menu_border;
}

#tray menu menuitem {
  color: @tray_menu_item;
}

#tray menu menuitem:hover {
  color: @tray_menu_item_hover;
  background-color: @tray_menu_item_hover_background;
}

/*---------------*/
/*-----CLOCK-----*/
/*---------------*/

#clock {
  color: @clock_idle;

  margin-right: 16px;

  transition: all 0.3s ease;
}

#clock calendar {
	background: @modules_background;
	color: @clock_idle;
}

#clock calendar.today {
	color: @clock_idle;
}

/*-----------------*/
/*-----NETWORK-----*/
/*-----------------*/

#network, #pulseaudio, #battery, #bluetooth {
  color: @network_idle;
  padding: 2px;
  transition: all 0.3s ease;
}

/*-----------------*/
/*-----TOOLTIP-----*/
/*-----------------*/

tooltip {
  background-color: @tooltip_background;
}

tooltip label {
  color: @tooltip_text;
}

#custom-launcher {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 0px 10px 0px;
    font-size: 18px;
}
