/*@define-color modules_background #000000;*/ /*theme:lain*/
/*@define-color modules_background #10293f;*/ /*theme:cats*/
/*@define-color modules_background #000000;*/ /*theme:mono*/
@define-color modules_background #0c0123; /*theme:purple*/

@define-color workspaces_button_off #928374;
/*@define-color workspaces_button_on #ffffff;*/ /*theme:lain*/
/*@define-color workspaces_button_on #e18e6e;*/ /*theme:cats*/
/*@define-color workspaces_button_on #ffffff;*/ /*theme:mono*/
@define-color workspaces_button_on #770bf5; /*theme:purple*/

/*@define-color clock_idle #ffffff;*/ /*theme:lain*/
/*@define-color clock_idle #bc7186;*/ /*theme:cats*/
/*@define-color clock_idle #ffffff;*/ /*theme:mono*/
@define-color clock_idle #8d00f4; /*theme:purple*/

/*@define-color network_idle #409343;*/ /*theme:lain*/
/*@define-color network_idle #82e0a4;*/ /*theme:cats*/
/*@define-color network_idle #888888;*/ /*theme:mono*/
@define-color network_idle #854bc9; /*theme:purple*/

/*@define-color tray_menu #000000;*/ /*theme:lain*/
/*@define-color tray_menu #10293f;*/ /*theme:cats*/
/*@define-color tray_menu #000000;*/ /*theme:mono*/
@define-color tray_menu #0c0123; /*theme:purple*/

/*@define-color tray_menu_border #409343;*/ /*theme:lain*/
/*@define-color tray_menu_border #82e0a4;*/ /*theme:cats*/
/*@define-color tray_menu_border #ffffff;*/ /*theme:mono*/
@define-color tray_menu_border #8d00f4; /*theme:purple*/

/*@define-color tray_menu_item #ffffff;*/ /*theme:lain*/
/*@define-color tray_menu_item #b0dfdd;*/ /*theme:cats*/
/*@define-color tray_menu_item #ffffff;*/ /*theme:mono*/
@define-color tray_menu_item #854bc9; /*theme:purple*/

/*@define-color tray_menu_item_hover #ffffff;*/ /*theme:lain*/
/*@define-color tray_menu_item_hover #b0dfdd;*/ /*theme:cats*/
/*@define-color tray_menu_item_hover #ffffff;*/ /*theme:mono*/
@define-color tray_menu_item_hover #854bc9; /*theme:purple*/

/*@define-color tray_menu_item_hover_background #28365d;*/ /*theme:lain*/
/*@define-color tray_menu_item_hover_background #325d8a;*/ /*theme:cats*/
/*@define-color tray_menu_item_hover_background #2d2e2f;*/ /*theme:mono*/
@define-color tray_menu_item_hover_background #2d2e2f; /*theme:purple*/

/*@define-color tooltip_background #000000;*/ /*theme:lain*/
/*@define-color tooltip_background #10293f;*/ /*theme:cats*/
/*@define-color tooltip_background #000000;*/ /*theme:mono*/
@define-color tooltip_background #0c0123; /*theme:purple*/

/*@define-color tooltip_text #ffffff;*/ /*theme:lain*/
/*@define-color tooltip_text #b0dfdd;*/ /*theme:cats*/
/*@define-color tooltip_text #ffffff;*/ /*theme:mono*/
@define-color tooltip_text #854bc9; /*theme:purple*/

/*----------------*/
/*-----GLOBAL-----*/
/*----------------*/

* {
  font-family: "Hack Nerd Font";
  font-weight: 600;
  font-size: 16px;
}

#waybar {
  background-color: @modules_background;
}

/*--------------------*/
/*-----WORKSPACES-----*/
/*--------------------*/

#workspaces {
	margin-left: 2px;
	margin-right: 16px;
}
 
#workspaces button {
  color: @workspaces_button_off;
  background: alpha(@workspaces_button_off, 0.5);
  border-radius: 0px;
 
  min-width: 20px;
  min-height: 6px;
  margin: 0px 0px;
  padding: 0px 0px;
 
  border: none;
  box-shadow: none;
  text-shadow: none;
 
  transition: all 0.3s ease;
}
 
#workspaces button.active {
  color: @modules_background;
  background-color: @workspaces_button_on;
  border-radius: 0px;
 
  min-width: 20px;
  padding: 0px 0px;
 
  transition: all 0.3s ease;
}
 
#workspaces button:hover {
  color: transparent;
  background-color: alpha(@workspaces_button_on, 0.5);
  border-radius: 0px;
 
  box-shadow: none;
  text-shadow: none;
  border-color: @workspaces_button_on;
 
  transition: all 0.3s ease;
}

#tray menu {
  background-color: @tray_menu;
  border: 2px solid @tray_menu_border;
}

#tray menu menuitem {
  color: @tray_menu_item;
}

#tray menu menuitem:hover {
  color: @tray_menu_item_hover;
  background-color: @tray_menu_item_hover_background;
}

/*---------------*/
/*-----CLOCK-----*/
/*---------------*/

#clock {
  color: @clock_idle;

  margin-right: 12px;

  transition: all 0.3s ease;
}

/*-----------------*/
/*-----NETWORK-----*/
/*-----------------*/

#network, #pulseaudio, #battery, #bluetooth {
  color: @network_idle;
  padding: 2px;
  transition: all 0.3s ease;
}

/*-----------------*/
/*-----TOOLTIP-----*/
/*-----------------*/

tooltip {
  background-color: @tooltip_background;
}

tooltip label {
  color: @tooltip_text;
}
