@-moz-document domain("com") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("com.br") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("app") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("org") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("gov.br") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("io") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("me") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("net") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

@-moz-document domain("ai") {
    * { 
        border-radius: 0px !important; 
        /* font-family: "Hack Nerd Font" !important;  */
    }
}

@-moz-document domain("cloud") {
    * { 
        border-radius: 0px !important; 
        font-family: "Hack Nerd Font" !important; 
    }
}

