@define-color fg-color  #eeeeee;
@define-color sel-fg    #000000;

/*@define-color bg-color #000000;*/ /*theme:lain*/
/*@define-color bg-color #3d3834;*/ /*theme:gruvbox*/
@define-color bg-color #10293f; /*theme:cats*/

/*@define-color sel-bg #ffffff;*/ /*theme:lain*/
/*@define-color sel-bg #ebdbb2;*/ /*theme:gruvbox*/
@define-color sel-bg #82e0a4; /*theme:cats*/

/*@define-color prompt #ffffff;*/ /*theme:lain*/
/*@define-color prompt #ebdbb2;*/ /*theme:gruvbox*/
@define-color prompt #82e0a4; /*theme:cats*/

window {
  background: transparent;
}

box.main {
  padding: 0 6px;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: @bg-color;
  box-shadow: none;

  orientation: horizontal;
}

text {
  min-height: 18px;
  min-width: 180px;
  padding: 2px 8px;
  border-radius: 0;
  color: @fg-color;
  background: transparent;

  border-right: 2px solid @prompt;
  margin-right: 4px;
}

.matches {
  background-color: transparent;
  border-radius: 0;
}

box.plugin {
  margin: 0;
  padding: 0;
}

box.plugin:first-child {
  margin-top: 0;
}

list.plugin {
  background-color: transparent;

  orientation: horizontal;
}

.match {
  background: transparent;
  padding: 2px 10px;
  border-radius: 0;
}

label.match {
  color: @fg-color;
  font-size: 13px;
}

label.match.description {
  font-size: 0px;
  opacity: 0;
}

.match:selected {
  border-left: none;
  background-color: @sel-bg;
  animation: none;
}

.match:selected label.match {
  color: @sel-fg;
}

box.plugin.info,
label.plugin.info {
  font-size: 0px;
  opacity: 0;
  min-width: 0;
}
